.logo{
justify-content: center;
text-align: center;
font-size: 34px;
letter-spacing: 2px;
color: #6b4b2a;

}
.header-logo{
    width: 85px;
    height: auto;

}

.nav-left ul , .nav-right ul{
  
    display: flex;
    gap: 28px;
    align-items: center;
    color: rgb(3, 65, 44);
    


}
.nav-left ul{
 justify-content: flex-start;


}
.hero-face-logo{
    display: block;
    width: 120px;
    margin: 200px auto 4px;
    transition: transform .6s ease;
    position: relative;
    z-index: 3;
    transform-style: preserve-3d;
    
}
.hero-face-logo:hover{
    transform: rotatey(-200deg) scale(1.05) ;

}







